#Prediction of Product Sales
- Bill Wilkin

##Project Overview

##Load and Inspect Data

In [1]:
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
fname = "/content/drive/MyDrive/Colab Notebooks/Data Science/Data Science Fundamentals v22.2/sales_predictions_2023.csv"
df = pd.read_csv(fname)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

##Clean Data

How many Rows and Columns

In [5]:
df.shape

(8523, 12)

What are the datatypes?

In [10]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

Are there duplicates?

In [12]:
duplicates = df.duplicated()
duplicates.sum()

0

Are there missing values?

In [13]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [14]:
df['Item_Weight'] = df['Item_Weight'].fillna(-1)
df['Item_Weight'].value_counts()

-1.000     1463
 12.150      86
 17.600      82
 13.650      77
 11.800      76
           ...
 7.275        2
 7.685        1
 9.420        1
 6.520        1
 5.400        1
Name: Item_Weight, Length: 416, dtype: int64

In [15]:
df['Outlet_Size'] = df['Outlet_Size'].fillna("MISSING")
df['Outlet_Size'].value_counts()

Medium     2793
MISSING    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

In [16]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

Are there any inconsitent values?

In [21]:
categorical_columns = df.select_dtypes(include="object")
for col in categorical_columns:
  print(df[col].nunique())
  print(df[col].value_counts(), "\n")

1559
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

5
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

16
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

10
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

4
Medium     2793
MISSING    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

3
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

4
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [22]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace("LF", "Low Fat")
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace("low fat", "Low Fat")
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace("reg", "Regular")
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

##Exploratory Data Analysis

In [17]:
numerical_columns = df.select_dtypes(include="number").columns
numerical_columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year', 'Item_Outlet_Sales'],
      dtype='object')

##Exploratory Data Analysis

In [36]:
# df[numerical_columns].mean()
# df[numerical_columns].median()
# df[numerical_columns].mode()


for col in numerical_columns:
  print(f"{col}\nMean: {df[col].mean()}\nMedian: {df[col].median()}\nMode: {df[col].mode()}\n\n")

Item_Weight
Mean: 10.478936407368296
Median: 11.0
Mode: 0   -1.0
Name: Item_Weight, dtype: float64


Item_Visibility
Mean: 0.06613202877895108
Median: 0.053930934
Mode: 0    0.0
Name: Item_Visibility, dtype: float64


Item_MRP
Mean: 140.9927819781767
Median: 143.0128
Mode: 0    172.0422
Name: Item_MRP, dtype: float64


Outlet_Establishment_Year
Mean: 1997.8318667135984
Median: 1999.0
Mode: 0    1985
Name: Outlet_Establishment_Year, dtype: int64


Item_Outlet_Sales
Mean: 2181.288913575032
Median: 1794.331
Mode: 0    958.752
Name: Item_Outlet_Sales, dtype: float64